.navbar-top {
    box-shadow: 0 2px 5px rgba(0,0,0,.26);

    .navbar-logo {
        display: inline-block;
        margin-left: 1.2rem;
        width: 9.375rem;
    }
}

.navbar-toggler {
    color: $brown;
    transition: all $duration ease;
    &:hover {
        color: $orange;
        transition: all $duration ease;
        cursor: pointer;
    }
}

.navbar-side {
    box-shadow: 2px 0 5px rgba(0,0,0,.26) !important;
    background-color: $brown;
    color: $white;
    height: 100%;
    position: fixed;
    top: 0;
    left: -15.625rem;
    z-index: 99;
    min-width: 15.625rem;

    // &.navbar-side-open {
    // }

    .navbar-side-link {
        display: block;
        padding: 1.8rem 1rem;
        text-align: center;
        color: $white;
        position: relative;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-decoration: none;
        transition: all $duration ease;
        border-bottom: 1px solid darken($brown, 7);

        &:before {
            content:'';
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: opacity $duration ease;
        }

        &:hover, &.active {
            transition: all $duration ease;
            background-color: darken($brown, 7);
            &:before {
                opacity: 1;
                width: 5px;
                height: calc(100% + 1px);
                background-color: $orange;
            }
        }
    }
}


@include media-breakpoint-up(lg) {
    .navbar-side {
        min-width: 15.625rem;
        left: 0;
    }
}
