<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <h4 class="card-header">My profile : {{user.user_name}}</h4>
                <div class="card-body">
                    <p class="card-text">Name : {{user.user_name | uppercase}}</p>
                    <p class="card-text">First name : {{user.user_firstname}}</p>
                    <p class="card-text">Email : {{user.user_email}}</p>
                    <a href="#/edit-account" class="button styl-material button-brown">SAVE</a>
                </div>
            </div>
        </div>
    </div>
</div>
