<div class="row">
    <div class="col-12">
        <!-- SVG Sprite -->
        <div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                <symbol id="ripply-scott" viewBox="0 0 100 100">
                    <circle id="ripple-shape" cx="1" cy="1" r="1" />
                </symbol>
            </svg>
        </div>
        <!-- button component -->
        <button id="js-ripple-btn" class="button styl-material button-brown">
            Click for Ripple
            <svg class="ripple-obj" id="js-ripple">
                <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
            </svg>
        </button>
        <!-- /end button component -->
    </div>
    {{eventList}}
    <div ng-repeat="event in eventList" id="{{event.user_id}}">
        <h1>{{event.user_name}}</h1>
        <h1>{{event.user_email}}</h1>
    </div>
</div>
