<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="#/create-event" class="button styl-material button-brown">
                CREATE AN EVENT
            </a>
        </div>
        <div class="col-12">
            <div id="map" map-lazy-load="https://maps.google.com/maps/api/js"
              map-lazy-load-params="{{googleMapsUrl}}">
              <ng-map center="48.5692059,7.6920541" zoom="15">
                  <marker ng-repeat="eventMap in eventList" position="{{eventMap.event_address}}+{{eventMap.event_city}}"
                          title="You are here"
                          animation="Animation.BOUNCE"
                          centered=true
                          icon="{
                                url:'assets/images/bar.png',
                                scaledSize:[40,40]
                            }"
                          ></marker>
              </ng-map>
            </div>
        </div>
    </div>
</div>
