<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <h4 class="card-header">Create an event : {{createEvent.event_name | uppercase}}</h4>
                <div class="card-body">
                    <p class="card-text">
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control" placeholder="Event's name" id="name" ng-model="createEvent.event_name" />
                        </div>
                    </p>
                    <p class="card-text">
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control" id="barname" ng-model="createEvent.event_barname" placeholder="Bar name" value="azeazenazeijn"/>
                        </div>
                    </p>
                    <p class="card-text">
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control" id="date" ng-model="createEvent.event_date" placeholder="Date" />
                        </div>
                    </p>
                    <p class="card-text">
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control" id="address" ng-model="createEvent.event_address" placeholder="Address" />
                        </div>
                    </p>
                    <p class="card-text">
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control" id="city" ng-model="createEvent.event_city" placeholder="City" />
                        </div>
                    </p>
                    <p class="card-text">
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control" id="picture" ng-model="createEvent.event_picture" placeholder="Link picture" value="https://picsum.photos/300/200" />
                        </div>
                    </p>
                    <a href="" class="button styl-material button-brown" ng-click="addEvent()">CREATE</a>
                    <a href="#/events" class="button styl-material button-brown">CANCEL</a>
                </div>
            </div>
        </div>
    </div>
</div>
